<section id="about" class="page">
		
		<section class="problem-section section almost-fullscreen">

			<div class="container">

				<div class="row">
					
					<div class="col-xs-12">
						<hgroup class="section-title align-center problem-title opacity">
							<h1>Resources</h1>	
						</hgroup>	
					</div>

				</div>

			</div>

		</section>

</section>
