<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</p>

    <p>Thanks for joining STIdentify! Our product is still in its early stages, so we'd love feedback. <br>With this in mind, it would be great if you could fill out this <b><a href="http://bit.ly/1mL9Wvg" target="_blank">4 minute survey</a></b> on sexual health and practices.</p>

    <p>We'll keep you updated as more features are developed. In the mean time, you can log in and search for testing centers near you.<br>If you have any questions or comments, don't hesitate to contact us at team@STIdentify.com.</p>

    <p>Thanks in advance for your support, and stay safe!</p>

    <p><b>The STIdentify Team</b>
  <br><br><br>

    <p>Follow our progress on <a href="http://on.fb.me/1fwLfP9">Facebook</a> or join the conversation on <a href="http://bit.ly/1hwwD0D">Twitter</a>.</p>


  </body>
</html>