<div class="show-box well">
  <h1 class="welcome">Welcome to <strong>Debatable</strong>!</h1>
  <p class="welcome-text">This is the home of your future Debatable profile. Stay tuned for updates!</p>
</div>