<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<center><h1>

	<% if @status == "match" %>

		<span style="color:green;font-size:120px;font-family:'Roboto'">✓</span>

	<% elsif @status == "caution" %>

		<span style="color:#F2C616;font-size:120px;font-family:'Roboto'">?</span>

	<% else %>
	
		<span style="color:#b61f1f;font-size:120px;font-family:'Roboto'">!</span>

	<% end %>









</h1></center>