<div class="show-box well">
  <h1 class="welcome">Welcome to <strong>STId</strong>!</h1>
  <p class="welcome-text">We're current in development right now, but be sure to check back for updates.</p>
</div>