<div class="row profile-page">
	<div class="col-xs-12">
		<h2>Welcome to <span>STIdentify!</span></h2>
		<div class="add-picture">
			<img src="http://i.imgur.com/R5pJiiY.png">
		</div>
	</div>
</div>
<div class="row stid">
	<div class="col-xs-12">
		<h2>Your STId:</br><span>5DX29A</span><h2>
	</div>
</div>