<div class="main-panel">
  <center><h1>The future of <strong>debate</strong> is here.</h1></center>
 <img src=<%= image_path 'landing_image.png' %> height="220">
  <p><strong>Debatable is debate democratized.</strong> Receive one-on-one coaching from the nation's best coaches, get access to round-winning prep material, and follow trends and data from NFL like never before.</p>
  <center>
  <button class="btn btn-primary landing-learn-more">Learn more and get exclusive early access</button>
  </center>
</div>





<!-- End Panel 4 -->

<%= render 'home/landing_modal' %>

<script>
  window.onload = function() {
    initializeLanding();
  }		
</script>