<!-- Begin Panel 1 -->
<div class="landing-panel1">
  <button class="btn btn-primary btn-lg landing-learn-more">Learn More</button>
</div>
<!-- End Panel 1 -->

<!-- Begin Panel 2 -->
<!-- VIDEO1 -->
<!-- End Panel 2 -->

<!-- Begin Panel 3 -->
<!-- icons -->
<!-- End Panel 3 -->

<!-- Begin Panel 4 -->
<!-- Speech Rate -->
<!-- End Panel 4 -->

<%= render 'home/landing_modal' %>

<script>
  window.onload = function() {
    initializeLanding();
  }		
</script>