<div class="landing-panel1">
</div>
  <center>
  <a href="<%= signup_path %>"><button class="btn btn-xlarge landing-learn-more">Learn More</button></a>
  </center>






<!-- End Panel 4 -->

<%= render 'home/landing_modal' %>

<script>
  window.onload = function() {
    initializeLanding();
  }		
</script>