.initial-signup {
  width: 18em;
}

.initial-signup .modal-body {
  text-align: center;
}

.landing-panel1 {
  background-image: url("http://a.fastcompany.net/multisite_files/fastcompany/poster/2013/01/3004507-poster-1280-built-app-help-his-high-school-debate-team.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.landing-learn-more {
}