a:hover {
  text-decoration: none;
}

.button {
  margin-top: 1em;
  width: 245px !important;
}

.fullscreen-thing {
	height: 100vh; 
}

.header2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: #B61F1F;
  line-height: 0;
  
  -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
      backface-visibility: hidden;
  -webkit-transition: background-color .5s ease, height .5s ease;
      transition: background-color .5s ease, height .5s ease;

  border-bottom-width: 0
}

input {
  margin-bottom: 0.8em;
}


#logo span {
	color: #ffffff;
}

.new_user, .sign-in {
  width: 20%;
  margin: 2em auto 0 auto;
}

.over_18 {
  font-size: 18px;
  margin: 1em 0;
}

.required-fields {
  margin-top: 5em;
}

.sign-in {
  margin-top: 12em;
}

.signup-background p {
}


