<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - --> 
  

<!-- <header id="header" class="transparent">

  <div class="header-in">
    
    <h1 id="logo"><a>STId</a></h1>
    
    <a id="responsive-nav-button" class="responsive-nav-button" href="#"></a>
    
    <nav id="navigation" class="navigation">
      
      <ul>
        <li class="current-menu-item"><a href="#home">Home</a>
          <ul>
            <li><a href="index.html">Layer Slider</a></li>
            <li class="current-menu-item"><a href="index-3.html">Slider Parallax</a></li>
            <li><a href="index-2.html">Video Background</a>
              <ul>
                <li><a href="index-2.html">Youtube Video</a></li>
                <li><a href="index-4.html">Vimeo Video</a></li>
                <li><a href="index-5.html">Self Hosted Video</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">Problem</a></li>
        <li><a href="#team">Solution</a></li>
        <li><a href="#123">Get Tested</a></li>
        <li><a href="#456">Create Account</a></li>
      </ul>

    </nav>
    
  </div>
  
</header> -->

<header class="transparent header2 header-shrink">
  
  <div class="header-in">
    
    <h1 id="logo"><a>STIdentify</a></h1>
    
    <a id="responsive-nav-button" class="responsive-nav-button" href="#"></a>
    
    <nav id="navigation" class="navigation">
      
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#problem">Problem</a></li>
        <li><a href="#solution">Solution</a></li>
        <li><a href="#signup">Sign Up</a></li>
      </ul>

    </nav><!--/ #navigation-->
    
  </div><!--/ .header-in-->
  
</header><!--/ #header-->

<!-- - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - -->
