<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - --> 
  

<header id="header" class="transparent">

  <div class="header-in">
    
    <h1 id="logo"><a>STId</a></h1>
    
    <!-- <a id="responsive-nav-button" class="responsive-nav-button" href="#"></a> -->
    
    <nav id="navigation" class="navigation">
      
      <ul>
        <!-- <li class="current-menu-item"><a href="#home">Home</a>
          <ul>
            <li><a href="index.html">Layer Slider</a></li>
            <li class="current-menu-item"><a href="index-3.html">Slider Parallax</a></li>
            <li><a href="index-2.html">Video Background</a>
              <ul>
                <li><a href="index-2.html">Youtube Video</a></li>
                <li><a href="index-4.html">Vimeo Video</a></li>
                <li><a href="index-5.html">Self Hosted Video</a></li>
              </ul>
            </li>
          </ul>
        </li> -->
        <li><a href="#home">Home</a></li>
        <li><a href="#about">Problem</a></li>
        <li><a href="#team">Solution</a></li>
        <li><a href="#services">Get Tested</a></li>
        <li><%= link_to 'Your Account', user_path(current_user) %></li>
        <li><%= link_to 'Logout', session_path(current_user), :method => :delete %></li>
      </ul>

    </nav><!--/ #navigation-->
    
  </div><!--/ .header-in-->
  
</header><!--/ #header-->


<!-- - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - -->
